{% extends 'IT1/base.html' %}
{% block title %}
Australia
{% endblock %}
{% block content %}
<h1>Australia</h1>
 <img src="/static/images/pic_australia.jpg"  style="width:304px;height:228px;">


<p>&copy; pictures </p>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="item_1"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
{% if user.is_authenticated %}
<form action="127.0.0.1:8000/africa/"
enctype="multipart/form-data" method="post">
<p>
Type some text (if you like):<br>
<input type="text" name="textline" size="30">
</p>
<p>
Please specify a file, or a set of files:<br>
<input type="file" name="datafile" size="40">
</p>
<div>
<input type="submit" value="Send">
</div>
</form>
{% else %}
{% endif %}
{% endblock %}