{% extends 'IT1/base.html' %}
{% block title %}
Continents
{% endblock %}
{% block content %}
<h1>Continents</h1>
<input type="text" name="search" placeholder="Search..">

<h3>Category</h3>
    <h3><a href="/africa/">Africa</a></h3>
    <h3><a href="/america/">America</a></h3>
<h3><a href="/europe/">Europe</a> </h3>
<h3><a href="/asia/">Asia</a> </h3>
    <h3><a href="/australia/">Australia</a> </h3>
	
	<img src="/static/images/africa.jpg" alt="1" />
<img src="/static/images/america.jpg"" alt="2" />
<img src="/static/images/europe.jpg"" alt="3" />
<img src="/static/images/asia.jpg"" alt="4" /><
<img src="/static/images/australia.jpg"" alt="5" />
<img src="/static/images/pic_mountains.jpg"" alt="5" />
    </div>

    </div>

{% endblock %}